argparse==1.2.1
colorama>=0.2.5
decorator>=3.4.0
flake8>=2.5.1
fluent-logger>=0.4.3
nose>=1.3.7
mock>=1.3.0
netifaces>=0.10.4
pep8>=1.5.7
pep8-naming>=0.3.3
pyflakes>=1.0.0
pylint>=1.5.2
pyOpenSSL>=0.13
python-consul>=0.6.1
PyYAML>=3.10
requests
scapy>=2.3.2
service-identity
simplejson>=3.8.1
six>=1.10.0
structlog>=16.1.0
Twisted>=13.2.0
urllib3>=1.7.1
