{% macro address(data, network) -%}
    {% if data is defined and network is defined -%}
    {{ data['NetworkSettings']['Networks'][network]['IPAddress'] }}:{{ data['NetworkSettings']['Ports']['50555/tcp'][0]['HostPort'] }}
    {%- else -%}
    None:None
    {%- endif %}
{%- endmacro %}

services:
  cord/voltha:
    slaves: ["chameleon", "ofagent"]


slaves:
  chameleon:
    image: cord/chameleon
    command: [
      "/chameleon/chameleon/main.py",
      "-v",
      "--consul=consul:8500",
      "--fluentd=fluentd:24224",
      "--rest-port=8881",
      "--grpc-endpoint={{ address(data, network) }}",
      "--instance-id-is-container-name",
      "-v"
    ]
    ports:
    - 8881
    depends_on:
    - consul
    - voltha
    links:
    - consul
    - fluentd
    environment:
      SERVICE_8881_NAME: "chameleon-rest"
    volumes:
    - "/var/run/docker.sock:/tmp/docker.sock"
  
  ofagent:
    image: cord/ofagent
    command: [
      "/ofagent/ofagent/main.py",
      "-v",
      "--consul=${DOCKER_HOST_IP}:8500",
      "--fluentd=fluentd:24224",
      "--controller=${DOCKER_HOST_IP}:6633",
      "--grpc-endpoint={{ address(data, network) }}",
      "--instance-id-is-container-name",
      "-v"
    ]
    depends_on:
    - consul
    - voltha
    links:
    - consul
    - fluentd
    volumes:
    - "/var/run/docker.sock:/tmp/docker.sock"
